*{
    font-family:sans-serif;
}
.content{
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    color:black;
}

.content h1{
    font-size:70px;
    margin-top:80px;
}

.content #p2{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
    font-size:20px;
}

#p1{
    font-weight:900;
}

#Button2,#Button3{
    width:200px;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border:2px solid #009688;
    background:transparent;
    color:black;
    cursor:pointer;
    position:relative;
    overflow:hidden;

     border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}

span{
    background:#0094ff;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}

#Button2:hover ,#Button3:hover{
    background-color:black;
}